---
import './hero.css';
import SocialIcons from '../SocialIcons.astro';
---

<section class="hero">
	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Bonjour,<br> moi c'est Julien</h1>
			<p class="hero__text">
				Développeur Web Junior
			</p>
			<p class="hero__description">
				Disponible à distance ou en présentiel, je suis prêt à apporter mes compétences à vos projets.
			</p>
			<SocialIcons width="25" height="25" />
		</div>
		<img
			class="hero__img"
			src="/img/julien.webp"
			alt="Jhon Doe"
			width="384"
			height="384"
		/>
	</div>
</section>
