---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Compétences" />
		<p>
			<b>Stack MERN</b><br />
			<u>MongoDB :</u> Gestion de bases de données NoSQL.<br />
			<u>Express.js :</u> Création d’API backend.<br />
			<u>React.js :</u> Développement d’interfaces dynamiques.<br />
			<u>Node.js :</u> Applications performantes côté serveur.<br />
			<br/>
			<b>Méthodologie Agile</b><br/>
			Bonne compréhension des principes et pratiques Agile, tels que la gestion itérative, la collaboration d’équipe et l’intégration des feedbacks pour favoriser l’amélioration continue.
		</p>
	</div>
</section>
