---
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<img
			class="about__img"
			src="/img/about.webp"
			alt="Point d'interrogation"
		/>

		<div class="about__content">
			<Title margin="1rem" contenido="À propos de moi" />
			<p class="about__text">
				Passionné par la technologie et en pleine reconversion
				professionnelle, je suis un développeur web junior animé par la
				curiosité et la rigueur.<br/>Ma spécialisation dans la stack MERN
				(MongoDB, Express.js, React, Node.js) me permet de concevoir des
				applications web dynamiques, performantes et adaptées aux
				besoins des utilisateurs.<br/> Ma transition vers le développement
				web est portée par un profond désir de relever des défis
				techniques, d’apprendre en continu et de créer des solutions qui
				ont un impact. Proactif et autonome, je mets à profit ma
				capacité d’adaptation et ma motivation pour contribuer
				efficacement à vos projets, qu’ils soient orientés front-end,
				back-end ou full-stack.
			</p>
			
		</div>
	</div>
</section>
